* {
	font-family: helvetica;
}

#main {
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #7777FF 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #7777FF 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #7777FF 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #7777FF));
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #7777FF 100%);
	background-image: linear-gradient(to top, #FFFFFF 0%, #7777FF 100%);
}

.tag {
	background-color: #FFFF88;
	border-radius: 10px;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	padding: 5px;
    margin: 2px;
	display: inline-block;
}

.tag a {
	color: #BB0000;
	text-decoration:none;
}

.tag:hover {
	background-color: #000000;
	color: #BB0000;
}

.item {
	background-color: #BB0000;
	color: #FFFF88;
	border-radius: 10px;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	padding: 5px;
	margin: 2px;
	display: inline-block;
}

.item:hover {
	background-color: #000000;
	color: #BB0000;
}

.item a {
	color: #FFFF88;
	text-decoration:none;
}

#main, h1 {
	width: 710px;
	padding: 10px;
	border-radius: 10px;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	margin: 10px auto;
}

h1 {
	background-color: #FFFF88;
	color: #BB0000;
}

h1:hover {
	background-color: #000000;
	color: #000000;
}

h1 a {
	color: #BB0000;
	text-decoration:none;
}	

input {
	border-radius: 10px;
}
